html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 350px;
}

#login-page {
    margin-top: 100px;
}

.fb-profile img.fb-image-lg {
    z-index: 0;
    width: 100%;
    margin-bottom: 10px;
}

.fb-image-profile {
    margin: -90px 10px 0 50px;
    z-index: 9;
    width: 20%;
}

.companies .category-labels {
    margin-top: 5px;
}

.companies .category-labels .label {
    border: 1px solid #ccc !important;
    color: #666;
    background: #fff !important;
}

@media (max-width: 768px) {
    .fb-profile-text > h1 {
        font-weight: 700;
        font-size: 16px;
    }

    .fb-image-profile {
        margin: -45px 10px 0 25px;
        z-index: 9;
        width: 20%;
    }
}

.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

/*    --------------------------------------------------
	:: General
	-------------------------------------------------- */

body {
    font-family: 'Open Sans', sans-serif;
    color: #353535;
}

/*	--------------------------------------------------
	:: Table Filter
	-------------------------------------------------- */

.panel {
    border: 1px solid #ddd;
    background-color: #fcfcfc;
}

.panel .btn-group {
    margin: 15px 0 30px;
}

.panel .btn-group .btn {
    transition: background-color .3s ease;
}

.announcements .media-photo {
    max-width: 70px;
}

section.announcements .summary {
    margin-top: 20px;
    display: block;
    color: #666;
}

section.announcements .deadline {
    color: #999;
    margin-top: 5px;
}

#header {
    margin-bottom: 50px;
    height: 80px;
}

#header .logo {
    padding: 30px;
}

.block .content-block {
    padding: 20px;
}

#header .logo img {
    width: 120px;
}

.items-contacts .item-contact span {
    color: #999;
}

.items-contacts .item-contact {
    margin-bottom: 5px;
}

section.about {
    margin-bottom: 50px;
}

.social-buttons {
    margin-bottom: 20px;
    margin-top: 15px;
}

#header-user {
    margin-top: 40px;
}

#navbar-header {
    position: fixed;
    width: 100%;
    z-index: 4;
}

#navbar-header .navbar-brand img {
    height: 100%
}

.navbar-header #logo {
    line-height: 70px;
}

#main-container {
    position: relative;
    top: 20px;
}

.profile-block ul {
    list-style: none;
    padding: 0px;
    font-weight:bold;
}

.profile-block ul li {
    display: inline-block;
}

.navbar-header #logo img {
    height: 40px;
}

.announcements a.title {
    color: #000;
}

.announcements a.title:hover {
    text-decoration: underline;
}

.announcements h3 {
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
}

.announcements .table td div.row {
    padding-bottom: 20px;
}

section.announcements .amount {
    padding-bottom: 5px;
}

.announcements div.attachments h4 {
    padding: 0;
    margin: 0;
}

.announcements div.attachments {
    border-radius: 4px;
    /*background: url(../images/attachment.png) no-repeat;*/

    background-size: 6%;
    background-position-x: 95%;
    background-position-y: 50%;
    margin-top: 30px;
}

.announcements div.attachments .col-md-4 {
    padding-left: 0;
}

.announcements .description {
    padding-bottom: 30px;
}

.table-items-announcement {
    margin-top: 30px;
}

.profile-menu .status {
    color: #666;
    text-transform: capitalize;
}

#content {
    background: #f8f8f8;
    border-radius: 4px;
    padding: 20px;
    float: left;
    width: 100%;
    margin-bottom: 40px;
}

.announcements .item {
    padding: 15px;
    background: #fff;
    min-height: 160px;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
    float: left;
}

.announcements .category-labels {
    margin-right: -30px;
}

.announcements .category-labels .label {
    background: #fff;
    color: #999999;
    border: 1px solid #999999;
    margin-bottom: 4px;
    display: inline-block;
}

section h2 {
    font-size: 18px;
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
}

#left-content {
    background: #f8f8f8;
    padding: 10px;
    border-radius: 4px;
}

#left-menu {
    margin-top: 20px;
}

section.companies .image-company,
section.profile-user .image-company {
    width: 90px;
    height: 90px;
    border: 1px solid #f8f8f8;
}

.companies .items-contacts,
section.profile-user .items-contacts {
    background: #fff;
    float: left;
    padding: 20px;
    width: 100%;
}

#content h2 {
    font-size: 19px;
    padding: 0;
    margin: 0;
    padding-bottom: 15px;
}

.companies .items-contacts span,
section.profile-user .items-contacts span {
    width: 70px;
    display: inline-block;
    color: #999;
}

.companies .block,
section.profile-user .block {
    margin-top: 20px;
    background: #fff;
}

.items-contacts .description {
    padding-top: 20px;
}

.companies .block .header,
section.profile-user .block .header {
    text-transform: uppercase;
    padding: 8px;
    padding-left: 10px;
    background: #eaeaea;
}

.companies .background {
    height: 120px;
}

#filter {
    padding-bottom: 20px;
}

#filter select {
    min-width: 220px;
}

#filter .form-group {
    margin-right: 15px;
}

.announcements .category {
    left: 30px;
    position: relative;
}

.company-categories-list {
    padding: 20px;
}

.order-items-preview {
    padding: 15px;
    margin-bottom: 20px;
}

.product-items .table td,
.product-items .table th {
    padding: 10px;
}

section.details {
    background: #fff;
    padding: 20px;
}

.create-announcement-btn a {
    width: 100%;
}

#footer {
    text-align: center;
    list-style: none;
    padding: 20px;
}

#footer ul.menu li a {
    color: #666
}

#footer ul.menu li a.active {
    text-decoration: underline;
    color: #000;
}

#footer ul.menu li {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}

.content-white-background {
    background: #fff;
    padding: 20px;
    border-radius: 3px;
    width: 100%;
    float: left;
}

#settings-page .tab-content {
    padding-top: 20px;
}

h2#nav-tabs {
    font-size: 18px;
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
}

.attachments ul li a:hover {
    color: #000;
}

#offers-list {
    margin-top: 30px;
}

.announcements .attachments li a {
    color: #999;
}

.announcements .attachments li {
    padding-top: 10px;
    padding-right: 10px;
}

.attachments ul {
    padding: 0;
    list-style: none;
}

#the-page {
    padding: 20px;
}

.form-contact {
    padding-top: 30px;
    padding-bottom: 30px;
}

#the-page h1 {
    padding: 0;
    margin: 0;
    font-size: 24px;
    padding-bottom: 20px;
}

#the-page p {
    line-height: 1.9;
}

.iclflag {
    margin-right: 10px;
}

#offers-list .details .title {
    min-width: 120px;
    display: inline-block;
}

#offers-list .action {
    background: #f8f8f8;
}

#offers-list .table {
    margin-bottom: 30px;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    z-index: 2;
    color: #28b62c;
    background-color: rgba(248, 248, 248, 0);
    font-weight: bold;
}

.icon-subscribe {
    width: 25px;
    height: 25px;
}

.language-list li img {
    margin-right: 10px;
}

.subscribe-icon {
    color: #28b62c;
    margin-left: 10px;
}

.signup-block .login {
}

.signup-block div {
    margin-left: 10px;
    display: inline-block;
}

.signup-block {
    line-height: 66px;
}

.or-container {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    clear: both;
    color: #6a737c;
    font-variant: small-caps;
}

.or-hr {
    margin-bottom: 0;
    position: relative;
    top: 19px;
    height: 0;
    border: 0;
    border-top: 1px solid #e4e6e8;
}

.register-link {
    color: #158cba;
    text-align: center;
}

.help-block {
    font-size: 12px;
    text-align: left;
}

#or {
    display: inline-block;
    position: relative;
    padding: 10px;
    background-color: #FFF;
}

.content-white-background h2 {
    font-size: 24px;
}

/* Profile */

.profile {
    min-height: 355px;
}

figcaption.ratings {
    margin-top: 20px;
}

figcaption.ratings a {
    color: #f1c40f;
    font-size: 11px;
}

figcaption.ratings a:hover {
    color: #f39c12;
    text-decoration: none;
}

.divider {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.emphasis {
    border-top: 4px solid transparent;
}

.emphasis:hover {
    border-top: 4px solid #1abc9c;
}

.emphasis h2 {
    margin-bottom: 0;
}

span.tags {
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
}

#facebook-share {
    margin-top: 20px;
}

.current-position-user {
    padding: 10px;
    color: #666;
}

.dropdown-menu:before {
    position: absolute;
    top: -7px;
    right: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.dropdown-menu:after {
    position: absolute;
    top: -6px;
    right: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

.dropdown-language {
    height: 70px;
    line-height: 35px !important;
}

.footer-language a {
    color: #888;
    text-decoration: none;
}

.footer-language {
    width: 155px;
    background: #f8f8f8;
    border-radius: 4px;
    text-decoration: none;
    margin: 0 auto;
    color: #888;
    height: 35px;
}

.alert > p,
.alert > ul {
    padding: 0;
    list-style: none;
}

#footer .menu {
    padding: 30px;
}

.list-category-item {
    border-radius: 20px;
    padding: 7px 15px 7px 15px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    font-size: 13px;
    border: 1px solid #e7e7e7;
    cursor: pointer;
    margin-bottom: 11px;
    display: inline-block;
}

.list-category-item.active:hover {
    border: 1px solid #279c27;
}

.list-category-item.active {
    color: #27a82a;
    border: 1px solid #27a82a;
}

.list-category-item .remove:hover {
    background: #27a82a;
}

.list-category-item:hover {
    border: 1px solid #ccc;
}

.list-category-item .active {
    background: #27a82a;
}

.page-footer-inner {
    color: #ccc;
}

.list-category-item .remove {
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
}

.announcement-completed {
    border: 2px solid #e7e7e7;
    border-radius: 5px;
    text-align: center;
    color: #ccc;
    padding: 65px;
}

.announcements .details div {
    margin-bottom: 10px;
}

.announcements .details div.date {
    padding-bottom: 10px;
}

.announcements .details div.delivery-options {
    padding-top: 20px;
}

.alert-success {
    background-color: rgba(67, 193, 71, 0.54);
    border-color: #7bc57d;
}

.modal-header {
    padding-top: 0;
}

.modal-footer {
    padding-bottom: 0;
}

#modal-categories h3 {
    padding: 0;
    font-size: 18px;
    margin: 0;
}

.ddd {
    background: rgba(53, 53, 53, 0.50);
}

.fancymodal .fancymodal-content {
    background: white !important;
}

.no-rows {
    color: #ccc;
    text-align: center;
    padding: 20px;
}

.footer-language:hover {
    background: #f3f1f1
}

.search-filter {
    margin-bottom: 30px;
}

#search select {
    width: 100% !important;
}

.search-filter input {
    width: 100 !important;
    background: #fff;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
}

.announcements .region {
    margin-top: 5px;
}

#edit_profile .hide-b {
    display: none;
}

#edit_profile .show-b {
    display: block;
}

.nav-tabs > li.active a {
    font-weight: bold;
}

.panel-heading {
    font-weight: bold;
}

.registration-phone-login {
    font-size: 12px;
}

.announcements .actions-block {
    margin-top: 15px;
}

#offers-list img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: block;
    margin-bottom: 10px;
}

.badge {
    background: #23a127;
}

.announcements a.title:hover {
    text-decoration: underline;
}

.required-field {
    color: red;
}

.center {
    text-align: center;
}

.label-custom {
    border: 1px solid #ccc;
    background-color: #fff;
    color: #999;
    display: inline-block;
    margin-bottom: 4px;
}

.bulk-options {
    color: #ccc;
}

.bulk-options a {
    color: #28b62c;
}

#offers-list .item {
    border-bottom: 1px solid #f8f8f8;
    padding-bottom: 10px;
    padding-top: 10px;
}

/* Media CSS */

@media (max-width: 767px) and (min-width: 320px) {
    #main-container {
        padding: 0px;
    }

    section.companies {
        text-align: center;
    }

    .navbar {
        border-width: 0 0px 2px 0px;
    }

    section.companies .title {
        float: none !important;
        padding-top: 10px;
        display: inline-block;
    }

    section.companies .category-labels {
        margin-right: 0px
    }

    #subscribes .list-category-item {
        padding: 5px 10px 5px 10px;
        width: 100%;
    }

    .radio label,
    .checkbox label {
        padding-left: 0;
    }

    #filter select {
        width: 100%;
        max-width: 100% !important;
    }

    .search-filter input {
        height: 35px;
    }

    .items-contacts .image-company {
        width: 70px;
        height: 70px;
    }

    .companies .items-contacts span,
    section.profile-user .items-contacts span {
        text-align: left;
    }

    legend {
        font-size: 19px;
    }

    #content h2 {
        margin-top: 20px;
    }

    .form-control {
        font-size: 13px;
    }
}

.alert-warning {
    background-color: rgba(255, 133, 27, 0.63);
    border-color: rgba(255, 119, 1, 0.31);
    color: #ffffff;
}

#offers-list .item:last-child {
    border-bottom: 0px;
}

#search input {
    width: 100%;
}

nav .navbar-header span {
    font-weight: bold;
    font-size: 17px;
    padding-left: 20px
}

#actions-block {
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

#profile-menu {
    float: right;
    padding: 20px;
}

#profile-menu a.name {
    font-weight: bold;
    font-size: 14px;
    color: #000;
}

#profile-menu ul {
    list-style: none;
}

#FieldsInPrototype {
    /*display: none;*/
}

.fields-list .child {
    padding-left: 110px !important;
    background: #ececec;
}

button {
    border: 0px;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #337ab7;
    border-color: none;
}

.back-link {
    float: right;
    font-size: 12px;
}

.form-group {
    min-height: 70px;
}

.form-group label {
    padding-bottom: 7px;
}

.prototype-list {
    margin-bottom: 40px;
}

.fields-list .item {
    width: 100%;
    display: block;
    padding: 5px;
}

.prototype-list .item {
    margin-bottom: 10px;
}

.prototype-list .item span {
    font-weight: bold;
}

.multi_field {
    font-size: 12px;
    color: #999;
}

.mini-text {
    color: #666;
    font-size: 11px;
}

.content-fields {
    padding-bottom: 30px;
}

.pagination {
    text-align: center;
}

* {
.border-radius(0) !important;
}

#field {
    margin-bottom:20px;
}


.content-fields .item-row {
    min-height: 55px;
    clear: both;
}

.content-fields-multi .item-row {
    min-height: 55px;
    clear: both;
}

.content-fields-multi {
    padding-bottom: 30px;
}